* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.toolbox-cont {
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
}

.toolbox-cont > * {
    margin-left: 4rem;
}


.toolbox-priority-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3.5rem;
    width: 18rem;
    background-color: #3d3d3d;
}

.toolbox-priority-cont > *:hover {
    background-color: #485460;
}


.color {
   height: 1.5rem;
   width: 3rem; 
}


.lightpink {
    background-color: lightpink;
}
.lightgreen {
    background-color: lightgreen;
}
.lightblue {
    background-color: lightblue;
}
.black {
    background-color: black;
}

.action-btn-cont {
    height: 3.5rem;
    width: 8rem;;
    background-color: #3D3D3D;
    display: flex;
}

.action-btn-cont > * {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.action-btn-cont > *:hover{
    background-color: green;
}

.main-cont {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.ticket-cont {
    height: 12rem;
    width: 15rem;
    background-color: coral;
    position: relative;
}

.ticket-color {
    height: 1rem;
}

.ticket-id {
    background-color: yellow;
    height: 2rem;
}

.ticket-lock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 2.5rem;
    width: 2.5rem;;
}


.modal-cont {
    position: absolute;
    top: 30%;
    left: 27%;
    background-color: lightsalmon;
    width: 45vw;
    height: 50vh;
    display: flex;
}

.textArea-cont{
    height: 100%;
    width: 75%;
    outline: none;
    border: none;
    background-color: #dfe4ea;
    color: black;
    font-size: 2rem;
    resize: none;
}

.active {
    border: 5px solid lightsalmon;
}

.priority-colors-container {
    height: 100%;
    width: 25%;
    display: flex;
    background-color: #4b4b4b;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.priority-color {
    height: 3rem;
    width: 5rem;
}