body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .counter {
    display: flex;
    align-items: center;
  }
  
  .btn {
    padding: 10px 15px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }

  .disabled {
    background: grey;
    pointer-events: none;
    cursor: not-allowed ;
  }

  .auto {
    background: green;
  }